<div class="container">
  <div class="row">
    <div class="col-10">
      <h3 class="text-center mb-4 mt-5", style="margin-left:100px; width:230px; background-color:#d3d3d3;">管理者ログイン</h3>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <div class="field row", style="margin-left:200px">
            <%= f.label "メールアドレス", class: "col-form-label col-3 mb-4" %><br />
            <%= f.email_field :email, autofoucus: true, autocomplete: "email", class: "col-9 form-control", pleceholer: "sample@example.com" %>
          </div>
          <div class="field row", style="margin-left:200px">
            <%= f.label "パスワード", class: "col-form-label col-3 mb-4" %><br />
            <%= f.password_field :password, autocomplete: "current_password", class: "col-9 form-control" %>
          </div>
          <div class="actions", style="margin-left:200px">
            <%= f.submit "ログイン", class: "btn btn-primary mt-4", style: "width:150px; margin-left:190;" %>
          </div>
        <% end %>
        <%= render "admin/shared/links" %>
        </div>
    </div>
  </div>
</div>
