<div class="container">
  <h2 class="my-5", style="background-color:#d3d3d3;"><%= @customer.name %>さんの会員詳細</h2>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <tr>
          <th class="text-left">会員ID</th>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th class="text-left">工務店名</th>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <th class="text-left">メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th></th>
          <td class="d-flex">
            <p><%= link_to "編集する", edit_admin_customer_path, class: "btn btn-success" %></p>
            <p class="offset-3"><%= link_to "注文履歴一覧を見る", admin_orders_path, class: "btn btn-primary" %></p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>