<div class="container">
  <h3 class="text-center mb-4 mt-5", style="margin-left:100px; width:230px; background-color:#d3d3d3:">商品説明</h3>
  <div class="row">
    <div class="col-6 mx-auto">
      <%= form_with model: @product, url: admin_product_path do |f| %>
      <div class="form-group">
        <%= f.labal :商品画像, style: "margin-right:60px;" %>
        <%= f.file_field :image, acept: "image/*" %>
      </div>
      <div class="form-group">
        <%= f.label :商品名, style: "margin-right:75px" %>
        <%= f.text_field :name, placeholder: "商品名" %>
      </div>
      <div class="form-group">
        <%= f.label :商品説明, style: "margin-right:60px;", class: 'align-top' %>
        <%= f.text_field :explanation, placeholder: "ここに説明文を記述", size: "30x5" %>
      </div>
      <div class="form-group">
        <%= f.label :規格, style: "margin-right:60px:" %>
        <%= f.text_field :size, placeholder: "サイズを記述" %>
      </div>
      <div class="form-group">
        <%= f.label :税抜価格, style: "margin-right:60px" %>
        <%= f.text_field :price, placeholder: "1000" %>円
      </div>
      <div class="form-group d-flex">
        <%= f.label :販売ステータス %>
        <div class="ml-3">
          <%= f.radio_button :is_sold_out, "false" %>
          <%= f.label :is_sold_out_false, "在庫あり" %>
        </div>
        <div class="ml-3">
          <%= f.radio_button :is_sold_out, "true" %>
          <%= f.label :is_sold_out_true, "入荷待ち" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit "変更を保存", class: "btn btn-success rounded text-white", style: "margin-left:200px;" %>
      </div>
      <% end %>
    </div>
  </div>
</div>