<div class="container">
  <h3 class="text-center mt-5", style="margin-left:50px; width:200px; background-color:#d3d3d3;">商品詳細</h3>
  <div class="row">
    <div class="col-4 ml-5 mt-5">
      <%= image_tag @product.image, size: "300x200" %>
    </div>
    <div class="col-7 mt-5">
      <table class="table table-borderless">
        <tr>
          <th>商品名</th>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @product.explanation %></td>
        </tr>
        <tr>
          <th>規格</th>
          <td><%= @product.size %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @product.genre.name</td>
        </tr>
        <tr>
          <th>税込価格(税抜価格)</th>
          <td><%= @product.add_tax_price %>(<%= @product.price %>)円</td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td><%= @product.is_sold_out %></td>
        </tr>
      </table>
      <%= link_to "編集する", edit_admin_product_path, class: "btn btn-success rounded text-white" %>
    </div>
  </div>
</div>