<div class="container">
  <div class="row">
    <div class="col-10">
      <h3 class="mt-5 text-center", style="margin-left:100px; width:150px; background-color:#d3d3d3;">ログイン</h3>
      <h5 class="text-center mb-4 mt-5" style="width:310px; background-color:#d3d3d3; margin-left:120px;">会員の方はこちらからログイン</h5>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field row", style="margin-left:200px;">
          <%= f.label "メールアドレス", class: "col-form-label col-3 mb-4" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-9 form-control", placeholder: "sample@example.com" %>
        </div>
        <div class="field row", style="margin-left:200px">
          <%= f.label "パスワード", class: "col-form-label col-3" %><br />
          <%= f.password_field :password, autocomplete: "current_password", class: "col-9 form-control" %>
        </div>
        <div class="actions", style="margin-left:200px">
          <%= f.submit "ログイン", class: "btn btn-primary mt-44", style: "width:150px; margin-left:190px;" %>
        </div>
      <% end %>
      <h5 class="text-center mb-4 mt-5" style="width:270px; background-color:#d3d3d3; margin-left:120px">会員登録がお済みでない方</h5>
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>

